:root {
    --dark: #264653;
    --light: #2a9d8f;
    --tan: #e9c46a;
    --orng: #f4a261;
    --burnt: #e76f51;
}

.header {    
    background: var(--light);
    padding: 20px;
}

html{
    background: var(--dark);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-name {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;    
}

.header-li {
    margin-right: 10px;
}

.header-ul {
    display: flex;    
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;       
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
.footer-content {
    text-align: center;
}
  