:root {
    --dark: #264653;
    --light: #2a9d8f;
    --tan: #e9c46a;
    --orng: #f4a261;
    --burnt: #e76f51;
}



.header {
    background: var(--light);
    padding: 20px;
}

* {
    background: var(--dark);
}

h1,
h2 {
    text-align: center;
}

.title {
    color: var(--orng);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
}

.header-name {
    color: var(--burnt);
    font-size: 24px;
    margin-bottom: 10px;
    background-color: var(--light);
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
}

.header-li {
    margin-right: 10px;
    color: var(--burnt);
    background-color: var(--light);
}

.header-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--light);
}

.header-a {
    background: var(--light);
    text-decoration: none;
    
}

.header-a-active {
    background: var(--light);
    text-decoration: none;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--dark);
    bottom: 0;
}

.footer-content {
    text-align: center;
    display: flex;
    gap: 20px;
}